---
exclude: '^aioesphomeapi/api.*$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-added-large-files
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    - id: pyupgrade
      args: [--py311-plus]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.8.1
    hooks:
    - id: python-typing-update
      stages: [manual]
      args:
      - --py311-plus
      - --force
      - --keep-updates
      files: ^(aioesphomeapi)/.+\.py$
  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.19.0
    hooks:
    - id: cython-lint
    - id: double-quote-cython-strings
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: ["aiohappyeyeballs>=2.3.0", "noiseprotocol>=0.3.1,<1.0", "cryptography>=43.0.0", "zeroconf>=0.143.0,<1.0"]
        files: ^((aioesphomeapi)/.+)?[^/]+\.(py)$
