---
exclude: '^aioesphomeapi/api.*$'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
- repo: https://github.com/asottile/pyupgrade
  rev: v2.37.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus]
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.1.1
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.1.1
  hooks:
  - id: black
    args:
    - --quiet
    files: ^((aioesphomeapi|tests)/.+)?[^/]+\.py$
- repo: https://github.com/cdce8p/python-typing-update
  rev: v0.6.0
  hooks:
  - id: python-typing-update
    stages: [manual]
    args:
    - --py39-plus
    - --force
    - --keep-updates
    files: ^(aioesphomeapi)/.+\.py$
