name: Build docker image on changes

on:
  push:
    branches:
      - main
    paths:
      - Dockerfile
      - requirements/test.txt
      - .github/workflows/docker.yml

permissions:
  contents: read
  packages: write

concurrency:
  # yamllint disable-line rule:line-length
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-image:
    runs-on: ubuntu-latest
    name: Build and push Docker image
    steps:
      -
        name: Checkout source code
        uses: actions/checkout@v6
      -
        name: Log in to docker hub
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Log in to the GitHub container registry
        uses: docker/login-action@v3.7.0
        with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3.4.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      -
        name: Build and Push
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          tags: |
            ghcr.io/esphome/aioesphomeapi-proto-builder:latest
            esphome/aioesphomeapi-proto-builder:latest
          push: true
          pull: true
          cache-to: type=inline
          cache-from: ghcr.io/esphome/aioesphomeapi-proto-builder:latest
          platforms: linux/amd64,linux/arm64
